{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Daily UI #013: Direct Messaging</title>
  <link rel="stylesheet"
          href="{%static 'messenger/main/css/style.css'%}">
</head>
<body>
    <div id="messeges">
    {% for message in messages %}
        <p>{% if message.autor == obj.id %}from me:{% endif %}{{ message.text }}</p>
    {% endfor %}
    </div>
    <form id="form">
    {% csrf_token %}
      <textarea type="text" class="message-input" placeholder="Type message..." name="message"></textarea>
        <button type="submit" class="message-submit">Send</button>
        <p><font size=3 color="red">{{ ERR }}</font></p>

    </form>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            if(data.type === 'message'){
                let messages = document.getElementById('messeges')

                messages.insertAdjacentHTML('beforeend', `<div><p>${data.message}</p></div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            let url = window.location.href
            chatSocket.send(JSON.stringify({
                'message':message,
                'url': url
            }))
            form.reset()
        })

    </script>
</body>
</html>