@import "fonts.css";
@import "nullstyle.css";

* {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300
}

html {
    font-size: 0.8vw;
    color: #ccc
}

body {
    font-size: 1rem;
    background: #202225;
}

div.main {
    width: 100%
}

div.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: fit-content;
    margin: 0 auto 1.5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header a {
    width: inherit;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

header svg {
    width: 2.5rem;
    height: 2.5rem;
}

.yellow {
    fill: #F0E68C;
}

header a:hover {
    background: #34373C;
}

.logo_main {
    width: 12rem;
    height: 12rem;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

div.block {
    margin-left: auto;
    margin-right: auto;
    background-color: #2B2E32;
    padding: 2rem;
    border-radius: 1rem;
}

div.login {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: .5rem;
    background: #34373C;
    border-radius: .5rem;
    border: solid .1rem #202225;
    align-self: center;
}

button:hover {
    background-color: #3E4248;
}

div.headbuts {
    width: 21rem;
}

div.headbuts button.tab {
    border: 0;
    padding: .5rem 0 .5rem 0;
}

div.headbuts button.tab.one {
    margin-left: 3rem;
}

div.headbuts button.tab.two {
    margin-left: 6rem;
}

div.headbuts label {
    padding: .5rem;
    cursor: pointer;
    color: #F0E68C;
}

div.headbuts input[type=radio]:checked + button {
    pointer-events: none;
    opacity: .5;
}

div.headbuts input[type=radio][id$="1"]:checked ~ div.tab#one {
    display: block;
}

div.headbuts input[type=radio][id$="2"]:checked ~ div.tab#two {
    display: block;
}

div.headbuts input[type=radio] {
    display: none;
}

div.tab {
    display: none;
}

div.login form {
    width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

div.login form div.input {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.login form div.input input {
    width: 15rem;
}

input, textarea {
    padding: .5rem;
    background: #34373C;
    border-radius: 1.5rem;
    border: solid .1rem #202225;
    color: #ccc
}

input:focus, textarea:focus {
    border: solid .1rem #ccc;
}

div.login form button {
    margin-top: 1rem;
}

a {
    color: #F0E68C;
}

a:visited {
    color: #F0E68C;
}

div.block.profile.head {
    display: flex;
    justify-content: space-between;
    width: 48rem;
    margin-bottom: 3rem;
}

div.block.profile.head div.photo {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    overflow: hidden;
    border: solid .25rem;
}

div.block.profile.head div.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.block.profile.head div.info {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

h4 {
    font-size: .9rem;
}

h5 {
    font-size: .7rem;
}

div.followers {
    display: flex;
    justify-content: center;
    text-align: center;
}

div.followers div.number {
    margin: 0 1rem 0 1rem;
}

div.followers div.number h2, div.followers div.number h5 {
    margin: 0;
}

div.block.profile.head div.info div.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.block.profile.head div.info div.name svg {
    margin-left: .5rem;
}

div.block.profile.head div.info h4 {
    text-align: center;
}

div.block.profile.head div.additional {
    align-self: flex-end;
}

div.block.profile.head div.additional h5 {
    font-weight: 500;
    color: #666;
    font-style: italic;
    margin: .25rem 0 .25rem 0;
}

div.block.profile.posts div.block.post {
    background: #34373C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

div.block.profile.posts div.block.post:first-child {
    margin-top: 0;
}

div.block.profile.posts div.block.post div.photo_block {
    width: 12rem;
}

div.block.profile.posts div.block.post div.photo {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

div.block.profile.posts div.block.post div.photo img {
    width: 100%;
}

div.block.profile.posts div.block.post div.photo_block div.action {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
}

div.block.profile.posts div.block.post div.photo_block div.action div.like {
    color: #F08C8C;
    display: flex;
    align-items: center;
}

div.block.profile.posts div.block.post div.photo_block div.action div.like svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .25rem;
}

div.block.profile.posts div.block.post div.photo_block div.action div.like svg path {
    fill: #F08C8C;
}

div.block.profile.posts div.block.post div.photo_block div.action div.like.normal {
    color: #ccc;
}

div.block.profile.posts div.block.post div.photo_block div.action div.like.normal svg path {
    fill: #ccc;
}

div.block.profile.posts div.block.post div.photo_block div.action div.comment {
    color: #ccc;
    display: flex;
    align-items: center;
}

div.block.profile.posts div.block.post div.photo_block div.action div.comment svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .25rem;
}

div.block.profile.posts div.block.post div.photo_block div.action div.comment svg path {
    fill: #ccc;
}

div.block.profile.posts div.block.post div.photo_block div.action div.share {
    color: #F0E68C;
    display: flex;
    align-items: center;
}

div.block.profile.posts div.block.post div.photo_block div.action div.share svg {
    transform: translateY(-.25rem);
    height: 2rem;
    width: 2rem;
    margin-right: .25rem;
}

div.block.profile.posts div.block.post div.description {
    width: 42rem;
}

div.block.profile.posts div.block.post div.description h4 {
    line-height: 1.2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 0.9rem;
}

div.chat {
    display: flex;
}

div.chat div.dialog_block {
    display: none;
}

div.chat input[type=radio] {
    display: none;
}

div.chat button.chat {
    border: none;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

div.chat div.photo {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: inline;
    margin-right: 1rem;
}

div.chat div.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.chat button.chat div.name_message {
    width: 13.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.chat button.chat div.name_message h4 {
    text-align: center;
}

div.chat button.chat div.name_message h5 {
    text-align: left;
}

div.chat button.chat div.name_message div.message {
    display: flex;
    justify-content: space-between;
}

div.chat input[type=radio]:checked + button.chat {
    background: #3E4248;
}

div.chat input[type=radio]:checked + button.chat + div.dialog_block {
    display: inline;
}

div.chat div.dialog_block {
    height: 24rem;
    width: 42rem;
    position: absolute;
    left: 30rem;
    top: 11.25rem;
}

.transparent {
    opacity: .5;
}

div.chat div.dialog_block div.person {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;
}

div.chat div.dialog_block div.person div.name_online {
    margin-left: .5rem;
}

div.block.messenger {
    height: 37.5rem;
}

div.block.messenger div.search {
    margin-bottom: 1.5rem;
}

div.chat div.dialog_block div.dialog {
    background: #34373C;
    padding: 1rem;
    border-radius: 1rem;
    height: 25.5rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

div.chat div.dialog_block div.input {
    width: 42rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
}

div.chat div.dialog_block div.input textarea {
    resize: none;
    width: 36rem;
    height: 100%;
    padding-left: 1rem;
}

div.chat div.dialog_block div.input button.send {
    border: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

div.chats {
    height: 30rem;
    width: 19.25rem;
    overflow-y: scroll;
}

div.chat {
    display: flex;
}

div.chat div.dialog_block {
    display: none;
}

div.chat input[type=radio] {
    display: none;
}

div.chat button.chat {
    border: none;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

div.chat button.chat div.name_message {
    width: 13.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.chat button.chat div.name_message h4 {
    text-align: center;
}

div.chat button.chat div.name_message h5 {
    text-align: left;
}

div.chat button.chat div.name_message div.message {
    display: flex;
    justify-content: space-between;
}

div.chat input[type=radio]:checked + button.chat {
    background: #3E4248;
}

div.chat input[type=radio]:checked + button.chat + div.dialog_block {
    display: inline;
}

div.chat div.dialog_block {
    height: 27rem;
    width: 76.5rem;
    position: absolute;
    left: 34.5rem;
    top: 11.25rem;
}

.transparent {
    opacity: .5;
}

div.chat div.dialog_block div.person {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;
}

div.chat div.dialog_block div.person div.name_online {
    margin-left: .5rem;
}

div.chat div.dialog_block div.person button {
    margin-left: .5rem;
}

div.block.messenger {
    height: 37.5rem;
}

div.block.messenger div.search {
    margin-bottom: 1.5rem;
}

div.chat div.dialog_block div.dialog {
    background: #34373C;
    padding: 1rem;
    border-radius: 1rem;
    height: 25.5rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

div.chat div.dialog_block div.input {
    width: 42rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
}

div.chat div.dialog_block div.input textarea {
    resize: none;
    width: 36rem;
    height: 100%;
    padding-left: 1rem;
}

div.chat div.dialog_block div.input button.send {
    border: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

div.chats {
    height: 30rem;
    width: 19.25rem;
    overflow-y: scroll;
}

div.chat div.dialog_block div.dialog div.message {
    margin-top: .5rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

div.chat div.dialog_block div.dialog div.message div.message_block {
    background: #3E4248;
    width: fit-content;
    height: fit-content;
    overflow-wrap: break-word;
    max-width: 27rem;
    padding: .5rem;
    border-radius: .5rem;
}

div.chat div.dialog_block div.dialog div.message div.message_block h5 {
    text-align: end;
}

div.chat div.dialog_block div.dialog div.message.received {
    align-self: flex-start;
}

div.chat div.dialog_block div.dialog div.message.received div.message_block {
    background: #2B2E32;
}

div.chat div.dialog_block div.dialog div.message.sent {
    align-self: flex-end;
}

div.chat div.dialog_block div.dialog div.message.sent div.message_block {
    background: #3E4248;
}

div.add_chat {
    margin-bottom: 1.6rem;
    margin-left: 6rem;
}

div.add_chat_block {
    background: #202225;
    width: 36rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 9rem;
    left: 48rem;
    display: none;
}

div.add_chat_block form {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.add_chat_block form div.info  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;
}

div.add_chat_block form div.info h4 {
    margin-bottom: .5rem;
}

div.add_chat_block form div.info div.name input {
    width: 24rem;
}

div.add_chat_block form div.info div.choose_photo input {
    width: 24rem;
}

div.add_chat_block form div.add_users {
    height: 9rem;
    overflow-y: scroll;
}

div.add_chat_block form div.add_users div.user {
    background: #34373C;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

div.add_chat_block form div.add_users div.user:hover {
    background: #3E4248;
}

div.add_chat_block form div.add_users div.user div.photo {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

div.add_chat_block form div.add_users div.user div.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.add_chat_block form div.add_users div.user h4 {
    display: inline-block;
    width: 27rem;
    margin-left: 1rem;
}

input[type=checkbox]{
    width: 1rem;
    height: 1rem;
    accent-color: #666;
}

div.change_data {
    background: #202225;
    width: 36rem;
    height: 36rem;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 6rem;
    left: 45rem;
    display: none;
}

div.change_data form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.change_data form div input, div.change_data form div select {
    width: 18rem;
}

div.change_data form div select {
    background: #34373C;
    color: #ccc;
}

div.change_data form div.photo input {
    width: 24rem;
}

div.change_data form div {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}