<!-- {% load static %} -->
<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../../../static/css/style.css">
      <title>diod — your profile</title>
  </head>

  <body>
    <div class="main">
      <div class="container">
        <header>
          <object data="../../../static/img/diod.svg" type="image/svg+xml" class="logo"></object>
        </header>
        <div class="block profile head">
          <div class="photo">
            <img src="../../../media/photos/profile_photos/defoult.png" alt="Image Not Found">
          </div>
          <div class="info">
            <h2>@dioddan</h2>
            <h3>e-mail: dioddan@gmail.com</h3>
            <h4>i'm jinja2 junior developer</h4>
          </div>
        </div>
        <div class="block profile posts">
          <div class="post">
            <img src="../../../media/photos/profile_photos/defoult.png" alt="Image Not Found">
            <div class="description">
              <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>