{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{%static 'profile/login_page/css/login.css'%}">
    <title>НеВК</title>
</head>

<body>

<link href='https://fonts.googleapis.com/css?family=Montserrat'
      rel='stylesheet' type='text/css'>

<div class="login">
    {% if form.name == 'signup' %}
    <a class="active" href='{% url "login_page" %}'> sign in </a>
    <a class=nonactive"> sign up </a>
    {% else %}
    <a class=nonactive"> sign in </a>
    <a class=active" href='{% url "signup_page" %}'> sign up </a>
    {% endif %}

    <form method="post" action="{% if form.name == 'signin' %}{% url 'login_page' %}{% else %}{% url 'signup_page' %}{% endif %}">
    {% csrf_token %}
    {{ form.as_p }}
   <input type="submit" value="Login" class="signin">
        <p><font size=3 color="red">{{ ERR }}</font></p>

    </form>
</div>

</body>
</html>