{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'Profile/changedata_page/css/changedata_page.css'%}">
    <title>НеВК</title>
</head>
<body>
    <form class="box" action="/profile/changedata/{{ obj.login }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{%static 'Profile/login_page/images/Diod_white.png'%}" alt="logo" width="200px" high="200px">
        <h1>Изменение профиля</h1>
        <br>
        {{ form.as_p }}
        {% if found_flags %}
        <select>
            <option value="1">Нуб</option>
            <option value="2">Хацкер</option>
        </select>
        {% endif %}
        <input type="submit" value="apply">
        <p><font size=3 color="red">{{ ERR }}</font></p>
    </form>
</body>
</html>
