{% load static %}
{% if is_owner%}
<html lang="en">

    <head>
        <meta charset="utf-8">
          <title>messenger</title>
          <link rel="stylesheet" href="{%static 'messenger/main/css/messenger_page.css'%}">
    </head>


    <body>
    {% for chat_id in chat_ids %}
        <button onclick="window.location.href='http://127.0.0.1:8000/messenger/{{ obj.login }}/{{ chat_id }}'">button + {{ chat_id }}</button>
    {% endfor %}
    </body>
    <div id="messeges" class="container">

    {% for message in messages %}
        <p class="{% if message.autor == obj.id %}my{% else %}other{% endif %}">{{ message.text }}</p>
    {% endfor %}
    </div>
    <form id="form">
    <textarea type="text" class="message-input" placeholder="Type message..." name="message"></textarea>
    <button class="send" type="submit">sent</button>
    </form>
    <script type="text/javascript">
                let my_url = window.location.href.split("/");
                login = my_url[my_url.length - 2]
                chat_id = my_url[my_url.length - 1]
        let url = `ws://${window.location.host}/ws/socket-server/${login}/${chat_id}`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            if(data.type === 'message'){
                let messages = document.getElementById('messeges');
                let my_class = window.location.href.split("/");
                my_class = my_class[my_class.length - 1] == data.login ? "my" : "other";
                messages.insertAdjacentHTML('beforeend', `<p class="${my_class}">${data.message}</p>`);
            }
        }


        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            let url = window.location.href
            chatSocket.send(JSON.stringify({
                'message':message,
                'url': url
            }))
            form.reset()
        })
        </script>
</html>
{% endif %}
{% if not is_owner %}
<h1>Это не ваша страницаю.(найс хуй)</h1>
{% endif %}