{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico"/>
    <title>diod — login</title>
</head>

<body>
    <div class="main">
        <header id="login">
            <object data="../../static/diod_main.svg" type="image/svg+xml" class="logo_main"></object>
        </header>
        <div class="container">
            <div class="block login">
                <div class="headbuts">
                    <input type="radio" name="tab" id="tab1" checked>
                    <button class="tab one"><label for="tab1">login</label></button>

                    <input type="radio" name="tab" id="tab2">
                    <button class="tab two"><label for="tab2">sign up</label></button>
                
                    <div class="tab" id="one">
                        <form method="post" action="{% url 'login_page' %}">
                            {% csrf_token %}
                            <div class="input">
                                <span>e-mail</span>
                                <input type="text" name="username">
                            </div>
                            <div class="input">
                                <span>password</span>
                                <input type="password" name="password">
                            </div>
                            <button type="submit">
                                <h3>login</h3>
                            </button>
                            <span style="color:red">{{ ERR }}</span>
                        </form>
                    </div>
                    
                    <div class="tab" id="two">
                        <form method="post" action="{% url 'signup_page' %}">
                            {% csrf_token %}
                            <div class="input">
                                <span>e-mail</span>
                                <input type="text" name="username">
                            </div>
                            <div class="input">
                                <span>password</span>
                                <input type="password" name="password">
                            </div>
                            <div class="input">
                                <span>repeat</span>
                                <input type="password" name="repit_password">
                            </div>
                            <button type="submit">
                                <span>sign up</span>
                            </button>
                            <span style="color:red">{{ ERR }}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h4>contact <span style="font-weight: 500;font-style: italic;">diod</span>!</h4>
            <br>
            <h5><span style="font-weight:500">e-mail: </span><a href="mailto:help@diod.cf" target="_blank">help@diod.cf</a></h5>
            <h5><span style="font-weight:500">write</span> in <a href="https://wa.me/79852855801" target="_blank">WhatsApp</a></h5>
            <h5>visit our <span style="font-weight:500">Instagram</span>: <a href="https://www.instagram.com/diod_official/" target="_blank">@diod_official</a></h5>
            <br>
            <h5 class="transparent" style="font-size: 8px;line-height: 8px;">© 2022 diod<br><br>Using or copying any kind of text, media, design, decoration or sources <br>from the website is allowed only with the permission of the copyright holder <br>and only with reference to the source: diod.cf</h5>
        </footer>
    </div>
</body>
</html>