{% if is_owner%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>diod — messages</title>
    </head>

    <body>
    <div class="main">
        <header>{% include "navigation_bar.html" %}</header>
        <div class="container" id="messenger">
        <div class="block messenger">
            <div class="search">
                <input type="checkbox" checked>
                <input type="text" placeholder="search">
                <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.cls-1{fill:none;stroke:#ccc;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><line class="cls-1" x1="8" y1="15" x2="8" y2="1"/><line class="cls-1" x1="1" y1="8" x2="15" y2="8"/></svg></button>
                <svg class="lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.cls-1{fill:none;stroke:#ccc;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><line class="cls-1" x1="1" y1="1" x2="15" y2="1"/><line class="cls-1" x1="1" y1="8" x2="15" y2="8"/><line class="cls-1" x1="1" y1="15" x2="15" y2="15"/></svg>
                <svg class="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.cls-1{fill:none;stroke:#ccc;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><line class="cls-1" x1="1.05" y1="10.95" x2="10.95" y2="1.05"/><line class="cls-1" x1="1.05" y1="1.05" x2="10.95" y2="10.95"/></svg>
            </div>
            <div class="chats">
                {% for i in range(chats_len) %}
                <div class="chat" id="chat_{{ i }}">
                    <input type="radio" name="chat">
                    <button class="chat">
                        <div class="photo">
                            <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                        </div>
                        <div class="name_message">
                            <h4>{{ chats[i].name }}  <font color="red" id="unread_messages_{{ i }}">{% if unread_messages[i] != 0 %} {{ unread_messages[i] }}{% endif %}</font>  </h4>
                            <div class="message" id="last_message_of_chatid_{{ i }}">
                                {% if last_message[i][0] %}
                                <h5 id="msg">{{ last_message[i][0] }}</h5><h5 class="transparent">{{ last_message[i][1] }}</h5>
                                {% else %}
                                <h5 class="transparent">{{ last_message[i][1] }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </button>
                    <div class="dialog_block">
                        <div class="headline">
                            <div class="person">
                                <div class="photo">
                                    <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                                </div>
                                <div class="name_online">
                                    <h4>{{ chats[i].name }}</h4>
                                    <h5 class="transparent" id="users_online_{{ chats[i].id }}">{{ len_users_for_chats[i] }} members, {{users_for_chats_online[i]}} online</h5>
                                </div>
                            </div>
                            <button id="edt_chat_{{ chats[i].id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.cls-1{fill:#ccc;}</style></defs><circle class="cls-1" cx="8" cy="8" r="1"/><circle class="cls-1" cx="8" cy="2" r="1"/><circle class="cls-1" cx="8" cy="14" r="1"/></svg></button>
                        </div>
                        <div class="dialog" id="messeges_{{ i }}">
                            {% for message in messages[i] %}
                                <div class="message {% if message.autor == user.id %}sent{% else %}received{% endif %}">
                                    <div class="photo">
                                        <a href="/profile/{{ chat_users[message.autor][1] }}" style="width:100%;height:100%">
                                            <img src="../media/{{ chat_users[message.autor][2] }}" alt="Image Not Found">
                                        </a>
                                    </div>
                                    <div class="message_block">
                                        <a href="/profile/{{ chat_users[message.autor][1] }}">{{ chat_users[message.autor][0] }}</a>
                                        <h4>{{ message.text }}</h4>
                                        <h5 class="transparent">{{ message.time_sent }}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input">
                            <form id="form_{{ i }}">
                                <textarea type="text" class="message-input" placeholder="Type message..." name="message" id="textarea"></textarea>
                                <button class="send" type="submit"><svg class="yellow" xmlns="http://www.w3.org/2000/svg" viewBox="128 0 1024 1024"><polygon points="1024.27 512 933.76 602.51 752.75 783.51 571.73 783.51 843.24 512 571.73 240.49 752.75 240.49 1024.27 512"/><rect x="256" y="448" width="640" height="128"/></svg></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% include "footer.html" %}
    </div>
    <div class="add_chat_block">
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input type="hidden" value="create_chat" name="type">
            <div class="info">
                <div class="name">
                    <h4>enter chat name</h4><input type="text" name="chat_name">
                </div>
                <div class="choose_photo">
                    <h4>choose chat image</h4><input type="file" accept="image/jpg,image/jpeg,image/png,image/webp" name="chat_image" value="none">
                </div>
            </div>
            <div class="add_users">
                {% for user_from_list in users_list %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <div class="name">
                        <h4>{{ user_from_list.name }}</h4><h5 class="transparent">{{ user_from_list.login }}</h5>
                    </div>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}">
                    <h3>✓</h3>
                </div>
                {% endfor %}
            </div>
            <button type="submit">create chat</button>
        </form>
    </div>


    {% for i in range(chats_len) %}
    <div class="add_chat_block">
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input type="hidden" value="edit_chat" name="type">

            <input type="hidden" value="{{ chats[i].id }}" name="chat_id">
            <div class="info">
                <div class="name">
                    <h4>enter chat name</h4><input type="text" name="chat_name" value="{{ chats[i].name }}">
                </div>
                <div class="choose_photo">
                    <h4>choose chat image</h4><input type="file" accept="image/jpg,image/jpeg,image/png,image/webp" name="chat_image">
                </div>
            </div>
            <div class="add_users">
                {% for user_from_list in users_for_chats[i] %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <div class="name">
                        <h4>{{ user_from_list.name }}</h4><h5 class="transparent">{{ user_from_list.login }}</h5>
                    </div>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}" checked>
                    <h3>✓</h3>
                </div>
                {% endfor %}
                {% for user_from_list in users_list - users_for_chats[i] %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <div class="name">
                        <h4>{{ user_from_list.name }}</h4><h5 class="transparent">{{ user_from_list.login }}</h5>
                    </div>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}">
                    <h3>✓</h3>
                </div>
                {% endfor %}
            </div>
            <button type="submit">apply changes</button>
        </form>
        <br>
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ chats[i].id }}" name="chat_id">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input name="type" value="delete_chat" type="hidden">
            <button type="submit">delete chat</button>
        </form>
    </div>
    {% endfor %}

    <script id="messenger_script" src="../static/js/messenger.js" chats="{% for chat in chats %}'{{ chat.id }}',{% endfor %}" user_id="{{ user.id }}" user_login="{{ logedacc }}"></script>
    </body>
</html>
{% endif %}
{% if not is_owner %}
<h1>Это не ваша страницаю.(найс)</h1>
{% endif %}
