{% if is_owner%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>diod — messages</title>
    </head>

    <body>
    <div class="main">
        <div class="container">
        <header>
        {% include "navigation_bar.html" %}
        </header>
        <div class="block messenger">
            <div class="search">
                <input type="text">
            </div>
            <div class="chats">
                {% for i in range(chats_len) %}
                <div class="chat" id="chat_{{ i }}">
                    <input type="radio" name="chat">
                    <button class="chat">
                        <div class="photo">
                            <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                        </div>
                        <div class="name_message">
                            <h4>{{ chats[i].name }} <font color="red" id="unread_messages_{{ i }}">{{ unread_messages[i] }} </font> </h4>
                            <div class="message" id="last_message_of_chatid_{{ i }}">
                                <h5>{{ last_message[i][0] }}</h5><h5 class="transparent">{{ last_message[i][1] }}</h5>
                            </div>
                        </div>
                    </button>
                    <div class="dialog_block">
                        <div class="person">
                            <div class="photo">
                                <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                            </div>
                            <div class="name_online">
                                <h4>{{ chats[i].name }}</h4>
                                <h5 class="transparent" id="last_message_of_chatidu_{{ i }}">{{ last_message[i][1] }}</h5>
                            </div>
                        </div>
                        <div class="dialog" id="messeges_{{ i }}">
                            {% for message in messages[i] %}
                                <div class="{% if message.autor == user.id %}message sent{% else %}message received{% endif %}">
                                    <a href="/profile/{{ message.autor }}">{{ chat_users[message.autor] }}</a>
                                    <h4>{{ message.text }}</h4>
                                    <h5 class="transparent">{{ message.time_sent }}</h5>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input">
                        <form id="form_{{ i }}">
                            <textarea type="text" class="message-input" placeholder="Type message..." name="message" id="textarea"></textarea>
                            <button class="send" type="submit"><svg class="yellow" xmlns="http://www.w3.org/2000/svg" viewBox="128 0 1024 1024"><polygon points="1024.27 512 933.76 602.51 752.75 783.51 571.73 783.51 843.24 512 571.73 240.49 752.75 240.49 1024.27 512"/><rect x="256" y="448" width="640" height="128"/></svg></button>
                        </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <footer>
            <h4>contact with <span style="font-weight: 500;font-style: italic;">diod</span>!</h4>
            <br>
            <h5><span style="font-weight:500">e-mail: </span>diod@diod.com</h5>
            <h5><span style="font-weight:500">phone number: </span>8 (800) 555-35-35</h5>
        </footer>
        </div>
    </div>
    <script src="../static/js/messenger.js" chats="{% for chat in chats %}'{{ chat.id }}',{% endfor %}" user_id="{{ logedacc }}"></script>
    </body>
</html>
{% endif %}
{% if not is_owner %}
<h1>Это не ваша страницаю.(найс хуй)</h1>
{% endif %}