{% if is_owner%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>diod — messages</title>
    </head>

    <body>
    <div class="main">
        <div class="container">
        <header>
        {% include "navigation_bar.html" %}
        </header>
        <div class="block messenger">
            <div class="add_chat">
                <button>create chat</button>
            </div>
            <div class="chats">
                {% for i in range(chats_len) %}
                <div class="chat" id="chat_{{ i }}">
                    <input type="radio" name="chat">
                    <button class="chat">
                        <div class="photo">
                            <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                        </div>
                        <div class="name_message">
                            <h4>{{ chats[i].name }}  <font color="red" id="unread_messages_{{ i }}">{% if unread_messages[i] != 0 %} {{ unread_messages[i] }}{% endif %}</font>  </h4>
                            <div class="message" id="last_message_of_chatid_{{ i }}">
                                <h5>{{ last_message[i][0] }}</h5><h5 class="transparent">{{ last_message[i][1] }}</h5>
                            </div>
                        </div>
                    </button>
                    <div class="dialog_block">
                        <div class="person">
                            <div class="photo">
                                <img src="../media/{{ chats[i].image }}" alt="Image Not Found">
                            </div>
                            <div class="name_online">
                                <h4>{{ chats[i].name }}</h4>
                                <h5 class="transparent" id="last_message_of_chatidu_{{ i }}">{{ last_message[i][1] }}</h5>
                            </div>
                            <button id="edt_chat_{{ chats[i].id }}">Edit chat</button>
                        </div>
                        <div class="dialog" id="messeges_{{ i }}">
                            {% for message in messages[i] %}
                                <div class="message {% if message.autor == user.id %}sent{% else %}received{% endif %}">
                                    <div class="photo">
                                        <img src="../media/{{ chat_users[message.autor][2] }}" alt="Image Not Found">
                                    </div>
                                    <div class="message_block">
                                        <a href="/profile/{{ chat_users[message.autor][1] }}">{{ chat_users[message.autor][0] }}</a>
                                        <h4>{{ message.text }}</h4>
                                        <h5 class="transparent">{{ message.time_sent }}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input">
                        <form id="form_{{ i }}">
                            <textarea type="text" class="message-input" placeholder="Type message..." name="message" id="textarea"></textarea>
                            <button class="send" type="submit"><svg class="yellow" xmlns="http://www.w3.org/2000/svg" viewBox="128 0 1024 1024"><polygon points="1024.27 512 933.76 602.51 752.75 783.51 571.73 783.51 843.24 512 571.73 240.49 752.75 240.49 1024.27 512"/><rect x="256" y="448" width="640" height="128"/></svg></button>
                        </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include "footer.html" %}
        </div>
    </div>
    <div class="add_chat_block">
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input type="hidden" value="create_chat" name="type">
            <div class="info">
                <div class="name">
                    <h4>enter chat name</h4><input type="text" name="chat_name">
                </div>
                <div class="choose_photo">
                    <h4>choose chat photo</h4><input type="file" accept="image/jpg,image/jpeg,image/png,image/webp" name="chat_image" value="none">
                </div>
            </div>
            <div class="add_users">
                {% for user_from_list in users_list %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <h4>{{ user_from_list.name }}</h4>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}">
                </div>
                {% endfor %}
            </div>
            <button type="submit">create chat</button>
        </form>
    </div>


    {% for i in range(chats_len) %}
    <div class="add_chat_block">
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input type="hidden" value="edit_chat" name="type">

            <input type="hidden" value="{{ chats[i].id }}" name="chat_id">
            <div class="info">
                <div class="name">
                    <h4>enter chat name</h4><input type="text" name="chat_name" value="{{ chats[i].name }}">
                </div>
                <div class="choose_photo">
                    <h4>choose chat photo</h4><input type="file" accept="image/jpg,image/jpeg,image/png,image/webp" name="chat_image">
                </div>
            </div>
            <div class="add_users">
                {% for user_from_list in users_for_chats[i] %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <h4>{{ user_from_list.name }}</h4>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}" checked>
                </div>
                {% endfor %}
                {% for user_from_list in users_list - users_for_chats[i] %}
                <div class="user">
                    <div class="photo">
                        <img src="/media/{{ user_from_list.profile_photo }}" alt="Image Not Found">
                    </div>
                    <h4>{{ user_from_list.name }}</h4>
                    <input type="checkbox" name="add_users" value="{{ user_from_list.id }}">
                </div>
                {% endfor %}
            </div>
            <button type="submit">apply changes</button>
        </form>
        <br>
        <form action="/messenger/" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ chats[i].id }}" name="chat_id">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
            <input name="type" value="delete_chat" type="hidden">
            <button type="submit">delete chat</button>
        </form>
    </div>
    {% endfor %}

    <script src="../static/js/messenger.js" chats="{% for chat in chats %}'{{ chat.id }}',{% endfor %}" user_id="{{ user.id }}" user_login="{{ logedacc }}"></script>
    </body>
</html>
{% endif %}
{% if not is_owner %}
<h1>Это не ваша страницаю.(найс)</h1>
{% endif %}