{% load static %}
<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../../../static/css/style.css">
      <title>diod — your profile</title>
  </head>

  <body>
    <div class="main">
      <div class="container">
        <header>
          {% include "navigation_bar.html" %}</header>
        <div class="block profile head">
          <div class="photo">
            <img src="/media/{{ user.profile_photo }}" alt="Image Not Found">
          </div>
          <div class="info">
            <div>
              <h2>{{ user.name }}</h2>
              <div class="followers">
                <div class="number">
                  <h2 id="amount_of_followers">{{ user.followers }}</h2>
                  <h5>followers</h5>
                </div>
                <div class="number">
                  <h2>{{ user.follows }}</h2>
                  <h5>follows</h5>
                </div>
            </div>
            </div>
            <h4> {{ user.description }} </h4>
            <div class="additional">
              <h5>e-mail: dioddan@gmail.com</h5>
              <h5>website: <a href="https://google.com">google.com</a></h5>
            </div>
            {% if is_owner %}
            <button onclick="window.location.href = '{{ change_page }}'" >Изменить описание</button>
            {% endif %}
            {% if not is_owner %}
            <button id="subscribe_button">{% if is_subscribed %}Отписаться{% else %}Подписаться{% endif %}</button>
            {% endif %}
          </div>
        </div>
        <div class="block profile posts">
          <div class="block post">
            <div class="photo_block">
              <div class="photo">
                <img src="../media/{{ user.profile_photo }}" alt="Image Not Found">
              </div>
              <div class="action">
                <div class="like">
                  <input type="checkbox">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z"/></svg>
                  <h4>533</h4>
                </div>
                <div class="comment">
                  <svg xmlns="http://www.w3.org/2000/svg" width="529.668px" height="529.668px" viewBox="0 0 529.668 529.668"><path d="M45.175,529.668l108.887-117.085h330.431V0H45.894L45.175,529.668z M383.896,173.016c20.527,0,37.164,16.64,37.164,37.164c0,20.527-16.641,37.164-37.164,37.164s-37.164-16.641-37.164-37.164C346.731,189.653,363.372,173.016,383.896,173.016zM265.192,173.016c20.526,0,37.165,16.64,37.165,37.164c0,20.527-16.641,37.164-37.165,37.164c-20.523,0-37.164-16.641-37.164-37.164C228.028,189.653,244.668,173.016,265.192,173.016z M146.488,173.016c20.527,0,37.164,16.64,37.164,37.164c0,20.527-16.641,37.164-37.164,37.164c-20.526,0-37.164-16.641-37.164-37.164C109.325,189.653,125.965,173.016,146.488,173.016z"/></svg>
                  <h4>12</h4>
                </div>
                <div class="share">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><defs><style>.cls-1{fill:#F0E68C;}</style></defs><rect class="cls-1" y="452.32" width="412.93" height="412.93"/><polyline class="cls-1" points="146.78 305.53 559.72 305.53 558.93 306.32 412.93 452.32 0 452.32 145.99 306.32"/><rect class="cls-1" x="146.78" y="305.53" width="619.4" height="412.93"/><polygon class="cls-1" points="756.89 144.05 756.89 886.34 1021.72 515.2 756.89 144.05"/></svg>
                  <h4>4</h4>
                </div>
              </div>
            </div>
            <div class="description">
              <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A labore laboriosam quam fugiat, ex voluptate laudantium deserunt? Harum, quae repudiandae? Culpa eveniet quas minus! Assumenda sunt officia ducimus laborum! Voluptatem!
              Hic nulla blanditiis alias amet dolores nostrum at eveniet quo quidem dolore eos deserunt impedit id, repudiandae facilis itaque, non modi? Perspiciatis reprehenderit vitae illo, aperiam aliquam officiis temporibus vel!
              Aut in voluptatibus maiores voluptatum architecto? Amet ipsa et nostrum consectetur necessitatibus eaque enim, pariatur hic ducimus accusantium ratione quisquam accusamus at atque distinctio quos fugit possimus? Facilis, eos sed!
              Minus nam enim assumenda vel quo, laborum aspernatur expedita modi in, sunt, facere ipsum illum fugit alias iure delectus eligendi asperiores? Quod, iste exercitationem corrupti et ipsum veniam facere maiores?
              Explicabo inventore exercitationem facere est, qui officiis, asperiores quis et totam nisi accusamus. Aut animi alias facere provident, porro aspernatur fugiat blanditiis fugit, laudantium culpa eaque voluptas autem optio id?
              Dignissimos architecto ratione qui, facere tenetur necessitatibus eaque corrupti repellat nulla repellendus perspiciatis nostrum labore nihil odit? Ipsum, cumque harum neque unde, nulla repellat nisi, quasi veritatis corrupti expedita et!
              Impedit rem aliquam fugit voluptatum aspernatur perspiciatis doloremque delectus, ullam atque officia iste laboriosam sapiente deleniti repellat inventore porro quia? Sunt cumque veritatis, quae porro deleniti ad exercitationem beatae tempore?
              Harum iure id numquam corporis architecto, cum incidunt omnis aut laboriosam excepturi labore ipsa, dolores quae alias debitis. Reiciendis ducimus quia dolorum similique ratione sunt itaque sed, cupiditate illo id.
              Impedit error odio magni quibusdam, provident beatae voluptates quam vitae dolor, nobis praesentium, accusantium sint! Nihil nobis numquam, cumque incidunt beatae est cupiditate eos? Nisi eum dolores earum velit eaque.
              Saepe quas nulla sunt nihil suscipit. A velit, suscipit doloribus voluptates repudiandae architecto vitae, nesciunt rem quaerat iure aperiam reiciendis, totam sequi cum eum laborum similique eaque consectetur temporibus corporis!</h4>
            </div>
          </div>
          <div class="block post">
            <div class="photo_block">
              <div class="photo">
                <img src="../../../media/photos/profile_photos/Pers.png" alt="Image Not Found">
              </div>
              <div class="action">
                <div class="like normal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z"/></svg>
                  <h4>533</h4>
                </div>
                <div class="comment">
                  <svg xmlns="http://www.w3.org/2000/svg" width="529.668px" height="529.668px" viewBox="0 0 529.668 529.668"><path d="M45.175,529.668l108.887-117.085h330.431V0H45.894L45.175,529.668z M383.896,173.016c20.527,0,37.164,16.64,37.164,37.164c0,20.527-16.641,37.164-37.164,37.164s-37.164-16.641-37.164-37.164C346.731,189.653,363.372,173.016,383.896,173.016zM265.192,173.016c20.526,0,37.165,16.64,37.165,37.164c0,20.527-16.641,37.164-37.165,37.164c-20.523,0-37.164-16.641-37.164-37.164C228.028,189.653,244.668,173.016,265.192,173.016z M146.488,173.016c20.527,0,37.164,16.64,37.164,37.164c0,20.527-16.641,37.164-37.164,37.164c-20.526,0-37.164-16.641-37.164-37.164C109.325,189.653,125.965,173.016,146.488,173.016z"/></svg>
                  <h4>12</h4>
                </div>
                <div class="share">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><defs><style>.cls-1{fill:#F0E68C;}</style></defs><rect class="cls-1" y="452.32" width="412.93" height="412.93"/><polyline class="cls-1" points="146.78 305.53 559.72 305.53 558.93 306.32 412.93 452.32 0 452.32 145.99 306.32"/><rect class="cls-1" x="146.78" y="305.53" width="619.4" height="412.93"/><polygon class="cls-1" points="756.89 144.05 756.89 886.34 1021.72 515.2 756.89 144.05"/></svg>
                  <h4>4</h4>
                </div>
              </div>
            </div>
            <div class="description">
              <h4>Lorem, ipsuore ipsa, dolores quae alias debitis. Reiciendis ducimus quia dolorum similique ratione sunt itaque sed, cupiditate illo id.
              Impedit error odio magni quibusdam, provident beatae voluptates quam vitae dolor, nobis praesentium, accusantium sint! Nihil nobis numquam, cumque incidunt beatae est cupiditate eos? Nisi eum dolores earum velit eaque.
              Saepe quas nulla sunt nihil suscipit. A velit, suscipit doloribus voluptates repudiandae architecto vitae, nesciunt rem quaerat iure aperiam reiciendis, totam sequi cum eum laborum similique eaque consectetur temporibus corporis!</h4>
            </div>
          </div>
        </div>
        <footer>
          <h4>contact with <span style="font-weight: 500;font-style: italic;">diod</span>!</h4>
          <br>
          <h5><span style="font-weight:500">e-mail: </span>diod@diod.com</h5>
          <h5><span style="font-weight:500">phone number: </span>8 (800) 555-35-35</h5>
      </footer>
      </div>
    </div>
  <script src="../static/js/profile.js" user_id="{{ logedacc }}"></script>
  </body>
</html>