<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../static/css/style.css">
      <title>diod — search for people</title>
  </head>

  <body>
    <div class="main">
      <header>{% include "navigation_bar.html" %}</header>
      <div class="container">
        <div class="block search">
            <div class="input">
                <h2>search for people</h2>
                <input type="text" name="search_text">
            </div>
            <div class="results">
                {% for user in users_found %}
                <a href="/profile/{{ user.login }}" class="block">
                    <div class="photo">
                        <img src="../media/{{ user.profile_photo }}" alt="Image Not Found">
                    </div>
                    <div class="info">
                        <h3>{{ user.name }}</h3>
                        <h4 class="transparent">{{ user.login }}</h4>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
      </div>
      {% include "footer.html" %}
    </div>
    <script src="../static/js/search.js"></script>
  </body>
</html>